<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
  
  <logger name="edu.udo.cs.ls14.jf" level="INFO" />
  <logger name="edu.udo.cs.ls14.jf.nlp" level="INFO" />
  <logger name="edu.udo.cs.ls14.jf.analysis.pst" level="INFO" />
  <logger name="edu.udo.cs.ls14.jf.transformation.HenshinApplicationMonitor" level="INFO" />

</configuration>